@CHARSET "UTF-8";
body {
	color: white;
	background : #666;
	background-image: url(background/Twitter-HD.jpg);
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}